<div class="carousel">
    @*<a class="prev"></a>
    <ul>
        <li><img src="@Url.Content("~/Content/Images/Banner/1.jpg")" alt="banner" /></li>
        <li><img src="@Url.Content("~/Content/Images/Banner/2.jpg")" alt="banner" /></li>
        <li><img src="@Url.Content("~/Content/Images/Banner/3.jpg")" alt="banner" /></li
    </ul>
    <a class="next"></a>

  @*<div id="qunit"></div>
    <div id="qunit-fixture">
        <ul id="simple" class="owl-carousel">
            <li><img src="@Url.Content("~/Content/Images/Banner/1.jpg")" alt="banner" /></li>
            <li><img src="@Url.Content("~/Content/Images/Banner/2.jpg")" alt="banner" /></li>
            @*<li><img src="@Url.Content("~/Content/Images/Banner/3.jpg")" alt="banner" /></li>
        </ul>

    </div>*@


    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul>
                <li><img src="@Url.Content("~/Content/Images/Banner/1.jpg")" alt="banner" /></li>
                <li><img src="@Url.Content("~/Content/Images/Banner/2.jpg")" alt="banner" /></li>
            </ul>
        </div>


        @*<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>*@

        <p class="jcarousel-pagination">

        </p>
    </div>
</div>