@using Infrastructure.Resources
<div hidden="true">
    <div id="modalEditPassword">
	    <div class="modal-feedback">
		    <h3 class="title">@AccountResource.EditPassword</h3>
		    <div class="content">
                <form action="#" id="formEditPassword" class="form form-cadastro">
                    <span class="form-item clear">
		                <label for="currentPassword">@AccountResource.CurrentPassword</label>
		                <input type="password" class="form-text" id="currentPassword" name="currentPassword" maxlength="10" />
	                </span>		
                    <span class="form-item clear">
		                <label for="newPassword">@AccountResource.NewPassword</label>
		                <input type="password" class="form-text" id="newPassword" name="newPassword" maxlength="10" />
	                </span>		
                    <span class="form-item clear">
		                <label for="confirmPassword">@AccountResource.ConfirmPassword</label>
		                <input type="password" class="form-text" id="confirmPassword" name="confirmPassword" maxlength="10" />
	                </span>		
			        <span class="form-item actions">
				        <input type="button" id="editPassword" value="@AccountResource.EditPassword" class="btn" />
			        </span>	
                </form>
		    </div>	
	    </div>
    </div>
</div>