@using Infrastructure.Resources
@section scripts {
    @Scripts.Render("~/Scripts/ForgotPassword/forgotPassword")
}
<h2 class="page-title">@AccountResource.RecoverPassword</h2>
<p class="intro">@AccountResource.DescriptionForgotPassword</p>
<p id="mensagemPasswordSendSuccess" class="mensagem"></p>
<form action="#" id="formForgotPassword" method="post" class="form form-cadastro">															
    <span class="form-item">
		<label for="email">@AccountResource.Email</label>
        <input type="text" class="form-text" id="emailToSendPassword" name="emailToSendPassword" maxlength="100">
	</span>		
	<span class="form-item actions">
		<button id="sendPassword" type="button" class="btn btn-primary">@AccountResource.Recover</button>
	</span>																		
</form>